﻿
body, html {
    height: 100%;
    
}
.logoveyazi, .menu{
    float:left;
}
#logop {
   float:left;
   margin-left:5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: none;
}
.menu ul {
    list-style: none outside none;
}

.menu li {
    position: relative;
    display: inline;
    margin:5px;
}

.menu{  
      
    background-color:yellow;
}

.listelink {  
    
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
    .listelink:hover {
        text-decoration: underline;
        color: black;
    }
/*navigasyona logo ekledik*/
.navlogo {
    background-color: white;
    height: 100px;
    width: 100%;
}

.logoo, .logoyazi {
    float: left;
    margin-bottom:10px;
}

.logoyazi {
    margin-top: 11px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: black;
    text-decoration: none;
}

    .logoyazi:hover {
       
        color: black;
    }
/*nav logo ekleme*/

.gorsel {
    
  height:450px;
   
}
.bant {
    height: 100%;
    background-color: #e4e4e4;
}

/*anasayfadaki resimler yazılar vb*/
.gordiv {
    float:left;
    height:450px;
    width:337px;
   
    
}
.gordiv:hover{
    background-size:130%;

}
.goryazi {
    margin-top:350px;
    padding:10px;
    text-align:center;
    text-decoration: none;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: white;
}
    .goryazi:hover {
        text-decoration: underline;
        color: white;
    }
#gor1 {

    background-image: url("../../../desktop/lit1.jpg");
    background-position:center;
    height:450px; 
    width:337px;

}

#gor2 {
    background-image: url("../../../desktop/b2.jpg");
    background-position: center;
    height: 450px;
    width: 337px;
}
#gor3 {
    background-image: url("../../../desktop/pf1.jpg");
    background-position: center;
    height: 450px;
    width: 337px;
}
#gor4 {
    background-image: url("https://www.rarerecords.com.au/wp-content/uploads/2018/10/2018-09-30-0029-Copy-300x500.jpg");
    background-position: center;
    height: 450px;
    width: 337px;
}

/*anasayfadaki resimler yazılar vb*/

.icerik {
    float: left;
    margin-top: 110px;
    margin-bottom: 47px;
    margin-left: 20px;
    margin-right: 10px;
    height: 400px;
    width: 300px;
    background-color: mintcream;
    transition: all .4s ease-in-out;
}
    .icerik p {
        text-align: center;
        padding-top: 10px;
        
    }

    /*içerikte ikinci resimin gözükmesi için
.resimiki {
    position: absolute;
    top: 1px;
    display: block;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
    .resimiki:hover {
        opacity: 1;
    }
    */


/*içeriğin üstüne gelince büyümesi için*/
.icerik:hover {
     transform: scale(1.05);
    -webkit-transform: scale(1.05);
    
}

/*resimlerin altındaki yazının düzeni üstüne gelince altında çizgi çıkması vs vs*/
.linkyazi {   
        
    text-decoration: none;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
}
    .linkyazi:hover {
        text-decoration: underline;
        color:black;
    }
    /*resim bitti*/


    /*kategori koşullar kısmı*/
.sonbant1 {
    background-color: white;
    height: 150px;
    margin: 100px;
}
.sonbant {    
    float:left;
   
    font-family: 'Montserrat', sans-serif;
    
}
.sonbant dl {
    list-style: none outside none;
}

    .sonbant dd {
        position: relative;        
        display: inline;
        color: lightgray;
        margin-top: 10px;
        margin-right: 20px;
    }
/*kategori koşullar kısmı*/

   