﻿* {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

body, html {
    height: 100%;
    
}

/*navigasyona logo ekledik*/
.navlogo {
    
    background-color: white;
    height: 125px;
    width: 100%;
}

.logoo, .logoyazi {
    float: left;
}

.logoyazi {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size:35px;
    color: black;
    text-decoration: none;
}

    .logoyazi:hover {
        text-decoration: underline;
        color: black;
    }
/*nav logo ekleme*/

.article, .yanmenu {
    float:left;
    font-family: 'Montserrat', sans-serif;
}



.article{
    position:static;
    
}
#gor1{
    margin: 20px 40px 10px 30px;
}
#gor2{
    float:left;
    margin-top:20px;
}
.okumazamani, .kategori {
    margin-top:-70px;
    margin-left:110px;
    margin-bottom:10px;
    
}
.okumazamani a, .kategori a {
   
    background-color: lightgrey;
    font-size:small;
    color: black;
    text-decoration: none;
}
    .okumazamani a:hover, .kategori a:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
    }
.prg {
   
    text-align:left;
    margin-left:70px;
    font-family: 'Montserrat', sans-serif;
    
    width:700px;
}
    .prg p {
        margin-top: 10px;
        text-indent: 30px;
        font-size: large;
    }
.yanmenu {
    position: fixed;
    margin-top:-10px;
    left:800px;
}
.yanicerik {
    outline-style: solid;
    outline-width: 1px;
    outline-color: lightgray;
    background-color: white;
    height: 130px;
    width: 350px;
    margin: 10px;
    margin-left: 100px;
    
}
.yangor, .yanlink {
    float: left;
    position:fixed;
}
.yanlink {
    
    margin-left:135px;
    margin-top:20px;
    margin-bottom:20px;  
    margin-right:5px;
    color: black;
    text-decoration: none;
    height:130px;
   width:220px;
  font-size:8px;
}  
    .yanlink:hover{
        color:black;
        text-decoration:underline;
    }


    li{
        float:left;

    }