﻿* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

/*navigasyona logo ekledik*/
.navlogo {
    background-color: white;
    height: 125px;
    width: 100%;
}

.logoo, .logoyazi {
    float: left;
}

.logoyazi {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size: 35px;
    color: black;
    text-decoration: none;
}

    .logoyazi:hover {
        text-decoration: underline;
        color: black;
    }
/*nav logo ekleme*/

.article, .yanmenu {
    float: left;
    font-family: 'Montserrat', sans-serif;
}



/*yan menü*/
.yanmenu {
    position: fixed;
    margin-top: -10px;
    left: 800px;
}

.yanicerik {
    outline-style: solid;
    outline-width: 1px;
    outline-color: lightgray;
    background-color: white;
    height: 130px;
    width: 350px;
    margin: 10px;
    margin-left: 100px;
}

.yangor, .yanlink {
    float: left;
    position: fixed;
}

.yanlink {
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    color: black;
    text-decoration: none;
    height: 130px;
    width: 220px;
    font-size: 8px;
}

    .yanlink:hover {
        color: black;
        text-decoration: underline;
    }
    /*yan enü*/